In [1]:
import pandas as pd
uscities = pd.read_csv("uscities.csv")
income = pd.read_csv("Raw_Data/US_Income_Kaggle.csv")
Mental_Health = pd.read_csv("Raw_Data/500_Cities__Mental_health_not_good_for___14_days_among_adults_aged___18_years.csv")

In [2]:
uscities_order = ["city", "state_id", "state_name", "population", "density"]
uscities_df = uscities[uscities_order]
uscities_df
uscities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28338 entries, 0 to 28337
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        28338 non-null  object
 1   state_id    28338 non-null  object
 2   state_name  28338 non-null  object
 3   population  28338 non-null  int64
 4   density     28338 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [3]:
#Renaming the Columns and Displaying Info
uscities_df.rename(columns = {
    "city":"City",
    "state_id": "State Abreviation",
    "state_name":"State",
    "population":"Population",
    "density":"Population density"
    },inplace=True)
uscities_df

/Users/jonahrahn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,City,State Abreviation,State,Population,Population density
0,New York,NY,New York,18713220,10715
1,Los Angeles,CA,California,12750807,3276
2,Chicago,IL,Illinois,8604203,4574
3,Miami,FL,Florida,6445545,5019
4,Dallas,TX,Texas,5743938,1526
...,...,...,...,...,...
28333,Gross,NE,Nebraska,2,6
28334,Lotsee,OK,Oklahoma,2,39
28335,The Ranch,MN,Minnesota,2,2
28336,Shamrock,OK,Oklahoma,2,2
28337,Monowi,NE,Nebraska,1,1

In [4]:
income_order = ["State_Name", "State_ab", "City", "ALand", "AWater","Median","Stdev"]
income_df= income[income_order]
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State_Name  15463 non-null  object
 1   State_ab    15463 non-null  object
 2   City        15463 non-null  object
 3   ALand       15463 non-null  int64
 4   AWater      15463 non-null  int64
 5   Median      15463 non-null  int64
 6   Stdev       15463 non-null  object
dtypes: int64(3), object(4)
memory usage: 845.8+ KB

In [5]:
#Strips the 0+ and +0i
income_df["Stdev"] = income_df["Stdev"].map(lambda x: x.lstrip('0+').rstrip('+0i'))
# income_df["Stdev"] = income_df["Stdev"].astype(float)

#Change str to flt
income_df["Stdev"] = pd.to_numeric(income_df["Stdev"],errors='coerce')

/var/folders/gh/7thdl1k961n2zryl6w1p5n_m0000gn/T/ipykernel_54716/2252447265.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_df["Stdev"] = income_df["Stdev"].map(lambda x: x.lstrip('0+').rstrip('+0i'))
/var/folders/gh/7thdl1k961n2zryl6w1p5n_m0000gn/T/ipykernel_54716/2252447265.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_df["Stdev"] = pd.to_numeric(income_df["Stdev"],errors='coerce')

In [6]:
#Renaming the Columns and Displaying Info
income_df.rename(columns = {
    "State_Name": "State",
    "state_ab":"State Abreviation",
    "City":"City",
    "ALand":"Area of Land",
    "AWater":"Area of Water",
    "Median":"Median",
    "stdev":"Standard Deviation"
    },inplace=True)
income_df

/Users/jonahrahn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,State,State_ab,City,Area of Land,Area of Water,Median,Stdev
0,Alabama,AL,Wadley,7764034,34284,11326,10911.110560
1,Alabama,AL,Adamsville,65064935,29719,85644,101255.628258
2,Alabama,AL,Akron,1776164,13849,20009,24839.982915
3,Alabama,AL,Albertville,68731806,258708,85168,113147.596970
4,Alabama,AL,Alexandria,28834974,33099,92686,92828.352881
...,...,...,...,...,...,...,...
15458,Wyoming,WY,Wheatland,5957495,95771,5278,9547.988442
15459,Wyoming,WY,Wheatland,3001056,0,250000,100128.088464
15460,Wyoming,WY,Laramie,43264735,0,300000,47205.349182
15461,Wyoming,WY,Wright,7388298,0,98262,124733.656408
15462,Wyoming,WY,Wheatland,6220116,0,300000,81606.521944

In [7]:
#Pre cleaned Mental Health Data
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15463 entries, 0 to 15462
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          15463 non-null  object
 1   State_ab       15463 non-null  object
 2   City           15463 non-null  object
 3   Area of Land   15463 non-null  int64
 4   Area of Water  15463 non-null  int64
 5   Median         15463 non-null  int64
 6   Stdev          15160 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 845.8+ KB

In [8]:
# Eliminated missing row in the Data and CityFIPS

MH_data = pd.notnull(Mental_Health["Data_Value"]) 
Mental_Health = Mental_Health[MH_data]
Mental_order = ["StateAbbr", "StateDesc","CityName", "Low_Confidence_Limit", "Data_Value", "High_Confidence_Limit", "PopulationCount"]
Mental_Health = Mental_Health[Mental_order]

#Convert to Dataframe
MH_df = pd.DataFrame(Mental_Health)
Mental_Health.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28212 entries, 0 to 29005
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StateAbbr              28212 non-null  object
 1   StateDesc              28212 non-null  object
 2   CityName               28210 non-null  object
 3   Low_Confidence_Limit   28212 non-null  float64
 4   Data_Value             28212 non-null  float64
 5   High_Confidence_Limit  28212 non-null  float64
 6   PopulationCount        28212 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.7+ MB

In [9]:
#Renaming the Columns
MH_df.rename(columns = {
    "StateAbbr": "State_Abbr",
    "StateDesc": "State",
    "CityName": "City", 
    "Low_Confidence_Limit":"Low_Confidence_Limit", 
    "Data_Value": "MH_data", 
    "High_Confidence_Limit":"High_Confidence_Limit", 
    "PopulationCount":"Population_Count"
    },inplace=True)
MH_df

,State_Abbr,State,City,Low_Confidence_Limit,MH_data,High_Confidence_Limit,Population_Count
0,CT,Connecticut,Stamford,9.8,10.0,10.2,"122,643"
1,IA,Iowa,Iowa City,12.4,13.2,14.0,"67,862"
2,LA,Louisiana,Lake Charles,16.2,16.6,16.9,"71,993"
3,MN,Minnesota,Minneapolis,11.3,11.4,11.6,"382,578"
4,MN,Minnesota,Rochester,9.8,10.1,10.3,"106,769"
...,...,...,...,...,...,...,...
29001,WI,Wisconsin,Milwaukee,16.5,18.4,20.4,"2,829"
29002,WI,Wisconsin,Milwaukee,16.9,18.3,19.8,"1,451"
29003,WI,Wisconsin,Milwaukee,18.2,19.7,21.4,"4,185"
29004,WI,Wisconsin,Milwaukee,12.5,13.4,14.3,"4,913"
29005,WI,Wisconsin,Madison,9.0,10.1,11.4,"5,276"